{% schema %}
{
  "name": "From Plant to Pillar",
  "tag": "section",
  "class": "plant-pillars-section-wraper",
  "settings": [
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "FROM PLANT TO PILLAR OF HEALTH"
    },
    {
      "type": "select",
      "id": "main_heading_alignment",
      "label": "Main Heading Alignment",
      "default": "center",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#e2d5f6"
    },
    {
      "type": "image_picker",
      "id": "background_image_left",
      "label": "Background Image - Left"
    },
    {
      "type": "image_picker",
      "id": "background_image_center",
      "label": "Background Image - Center"
    },
    {
      "type": "image_picker",
      "id": "background_image_right",
      "label": "Background Image - Right"
    },
	{
  "type": "text",
  "id": "button_label",
  "label": "Button Label",
  "default": "Learn More"
},
{
  "type": "url",
  "id": "button_link",
  "label": "Button Link"
},
  {
      "type": "text",
      "id": "custom_id",
      "label": "Custom HTML ID (optional)"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom HTML Class (optional)"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "icon_alt",
          "label": "Icon Alt Text",
          "default": "Feature icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Handpicked Herbs"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Research based on organic ingredients."
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "From Plant to Pillar"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.plant-pillars-section {
	position: relative;
	padding: 0px 0 0;
	overflow: hidden;
	background: #A33C3F;
}


.plant-pillars-backgrounds {
	position: unset;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: first baseline;
	pointer-events: none;
	padding: 50px 0 0;
	background-image: url("https://cdn.shopify.com/s/files/1/0618/4543/8615/files/grid-bg.webp?v=1755092399");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom -190px;
}

  .plant-pillars-backgrounds .bg-img {
    max-height: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 33%;
  }


  .plant-pillars-inner {
    position: relative;
    z-index: 1;
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .plant-pillars-section .plant-pillars-inner {
    position: unset;
    top: 0%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 85px;
  }

.plant-pillars-section .plant-pillars-inner h2 {
	font-size: 56px;
	margin-bottom: 60px;
	color: #fff;
	padding-top: 0;
	line-height: 100%;
	letter-spacing: -0.2px;
}
.pillars-features {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 0;
	z-index: 9;
	align-items: center;
	position: relative;
}

.pillars-features::before {
	position: absolute;
	content: "";
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 5px;
	border-radius: 30px;
	max-width: 870px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: -1;
	top: 62px;
	opacity: 1;
}

.pillars-feature {
	max-width: calc(33.3% - 7.5px);
	background: transparent;
	border-radius: 16px;
	padding: 24px 18px;
	text-align: left;
}

 .pillars-feature img {
	margin-bottom: 30px;
}
.pillars-feature h4 {
	margin-bottom: 8px;
	font-size: 20px;
	text-transform: none;
	color: #fff;
	letter-spacing: -.2px;
	text-align: left;
	font-family: "Source Sans 3",sans-serif !important;
	font-weight: 600 !important;
	text-align: center;
}
.pillars-feature p {
	font-size: 16px;
	color: #fffc;
	font-weight: 400;
	line-height: 130%;
	text-align: center;
}
/* .plant-pillars-section-wraper .plant-pillars-backgrounds .bg-img.left {
	width: 100%;
	max-width: 40%;
	position: relative;
	z-index: 0;
	bottom: 0%;
	margin-right: -10%;
} */
.plant-pillars-backgrounds .bg-img.center {
	width: 100%;
	max-width: 90%;
	z-index: 9;
	margin: 0 auto;
}
/* .plant-pillars-section-wraper .plant-pillars-backgrounds .bg-img.right {
	width: 100%;
	max-width: 40%;
	position: relative; 
	z-index: 0;
	margin-left: -10%;
}   */


.pillars-feature .icon-holder {
	background: #fff;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	margin: 0 auto 30px;
}
.pillars-feature img {
	margin-bottom: 0;
} 

.plant-pillars-backgrounds .bg-img.center {
	width: auto;
	max-width: 100%;
	z-index: 9;
	margin: 0 auto;
	object-fit: cover;
}


.plant-pillars-section .plant-pillars-inner {
	position: relative;
}
.plant-pillars-backgrounds {
position: relative; 
}
.plant-pillars-backgrounds::before {
	content: "";
	position: absolute;
	background-image: url(/cdn/shop/files/q-capsul-left-img.webp?v=1754302231);
	width: 99px;
	height: 106px;
	top: 140px;
	left: 14%;
	background-repeat: no-repeat;
}
.plant-pillars-backgrounds::after {
	content: "";
	position: absolute;
	background: url(/cdn/shop/files/q-capsul-right-img.webp?v=1754302231);
	width: 80px;
	height: 74px;
	right: 14%;
	top: 140px;
	background-repeat: no-repeat;
}
 

.commitment-quality-section.plant-pillars-section {
position: relative;
}
.commitment-quality-section.plant-pillars-section::before {
	content: "";
	position: absolute;
	background-image: url(/cdn/shop/files/q-capsul-left-img.webp?v=1754302231);
	width: 99px;
	height: 106px;
	top: 160px;
	left: 14%;
	background-repeat: no-repeat;
}
.commitment-quality-section.plant-pillars-section::after {
	content: "";
	position: absolute;
	background: url(/cdn/shop/files/q-capsul-right-img.webp?v=1754302231);
	width: 80px;
	height: 74px;
	right: 14%;
	top: 160px;
	background-repeat: no-repeat;
}


.commitment-quality-section.plant-pillars-section .plant-pillars-backgrounds::before, #commitment-quality-section.plant-pillars-section .plant-pillars-backgrounds::after{
display: none;
}


.commitment-quality-section.plant-pillars-section .pillars-feature h4 {
	text-align: left;
}

.commitment-quality-section.plant-pillars-section {
	background: linear-gradient(90deg, rgb(47, 142, 117) 0%, rgb(35, 112, 92) 100%);
} 

.commitment-quality-section.plant-pillars-section .plant-pillars-backgrounds {
	background-image: none;
} 



.commitment-quality-section.plant-pillars-section .pillars-features::before {
	display: none;
}

.commitment-quality-section.plant-pillars-section .pillars-feature {
	background: rgba(0, 0, 0, 0.07);
}
.commitment-quality-section.plant-pillars-section .pillars-feature .icon-holder {
	background: transparent;
	width: 40px;
	height: 40px;
	margin: 0 0 15px;
}
.commitment-quality-section.plant-pillars-section .pillars-feature:nth-child(2) {
	position: relative;
	top: 0px;
}
.commitment-quality-section.plant-pillars-section .pillars-feature:nth-child(1), .commitment-quality-section.plant-pillars-section .pillars-feature:nth-child(3){
	position: relative;
	top: 150px;
}
.commitment-quality-section.plant-pillars-section .pillars-feature p {
	text-align: left;
}

.commitment-quality-section.plant-pillars-section .lab-testing-wrapper .subheading {
	font-size: 24px;
	font-family: Butler !important;
}


.what_we_offer_section.plant-pillars-section {
	background: linear-gradient(90deg, rgba(254, 255, 239, 1) 0%, rgba(255, 206, 207, 1) 100%);
}
.what_we_offer_section.plant-pillars-section .plant-pillars-inner h2 {
	font-size: 56px;
	margin-bottom: 60px;
	color: #000;
	padding-top: 0;
	line-height: 100%;
	letter-spacing: -.2px;
}
.what_we_offer_section.plant-pillars-section .plant-pillars-backgrounds {
	background: none;
	padding: ;
}

.what_we_offer_section.plant-pillars-section .pillars-feature {
	background-color: #fff;
}
.what_we_offer_section.plant-pillars-section .pillars-feature .icon-holder {
	background: #fff1e6;
	width: 48px;
	height: 48px;
	margin: 0 0 20px !important;
}
.what_we_offer_section.plant-pillars-section .pillars-feature h4 {
	color: #000;
	text-align: left;
	padding-top: 30px;
} 
.what_we_offer_section.plant-pillars-section .pillars-feature h4 + p {
	color: rgba(24, 27, 24, 0.8);
	text-align: left;
} 



.what_we_offer_section.plant-pillars-section .pillars-button-wrap{
margin-top: 50px;
}
.what_we_offer_section.plant-pillars-section .pillars-button-wrap .btn {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 12px 41px;
	border-radius: 14px;
	background-color: #18661d;
	color: #ffffff;
}
.what_we_offer_section.plant-pillars-section .plant-pillars-backgrounds {
	padding: 0 0 100px;
}

.commitment-quality-section.plant-pillars-section .plant-pillars-backgrounds::after {
	display: none;
}


  @media screen and (max-width: 1199px) {
.pillars-features {
	display: flex;
	justify-content: space-between;
	gap: 0px;
	flex-wrap: wrap;
	margin-bottom: 0;
	position: relative;
	z-index: 9;
	gap: 10px;
	justify-content: center;
}

.pillars-feature {
	max-width: calc(50% - 5px);
	width: 100%;
	background: rgba(255, 255, 255, 0.05);
	padding: 24px 15px;
	border-radius: 8px;
	min-height: 220px;
	text-align: center !important;
}
.pillars-feature .icon-holder {
	width: 70px;
	height: 70px;
}
.pillars-features::before {
display: none;
}  

.plant-pillars-section .pillars-feature:nth-child(1), .plant-pillars-section .pillars-feature:nth-child(3) {
	top: auto;
} 
.commitment-quality-section.plant-pillars-section .pillars-feature:nth-child(1), #commitment-quality-section.plant-pillars-section .pillars-feature:nth-child(3) {
	top: auto;
} 
.plant-pillars-section .plant-pillars-inner::after {
  top: auto;
	bottom: -110px;
	background-repeat: no-repeat;
}
.plant-pillars-section .plant-pillars-inner::before {
  top: auto;
	bottom: -110px;
}

.commitment-quality-section.plant-pillars-section::before {
display: none;
}
.commitment-quality-section.plant-pillars-section::after {
display: none;
}

.commitment-quality-section.plant-pillars-section .plant-pillars-backgrounds::before {
	content: "";
	position: absolute;
	background-image: url(/cdn/shop/files/q-capsul-left-img.webp?v=1754302231);
	width: 49px;
	height: 56px;
	top: -10px !important;
	left: 8%;
	background-repeat: no-repeat;
	display: block;
}
.commitment-quality-section.plant-pillars-section .plant-pillars-backgrounds::after {
	content: "";
	position: absolute;
	background: url(/cdn/shop/files/q-capsul-right-img.webp?v=1754302231);
	width: 50px;
	height: 51px;
	right: 8%;
	top: -14px;
	background-repeat: no-repeat;
	display: block;
	background-size: 100%;
}


.commitment-quality-section.plant-pillars-section .pillars-feature:nth-child(1), .commitment-quality-section.plant-pillars-section .pillars-feature:nth-child(3) {
	top: auto;
} 
}
  
@media screen and (max-width: 767px) {
.plant-pillars-backgrounds .bg-img {
      max-width: 80%;
}
.pillars-features {
	flex-direction: row;
	align-items: center;
	gap: 10px;
	justify-content: center;
}
    
.plant-pillars-section h2 {
 font-size: 22px;
}

  .plant-pillars-section-wraper .plant-pillars-backgrounds .bg-img.right {
	max-width: 40%;
	margin-left: -10%;
}  
.plant-pillars-section .plant-pillars-inner {
	padding-top: 50px;
	padding-bottom: 80px;
}

 .plant-pillars-section .plant-pillars-inner h2 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 32px;
	padding-top: 0;
} 
  .pillars-feature p {
	font-size: 16px;
}
.plant-pillars-backgrounds .bg-img.center {
	width: auto;
	max-width: 100%;
	transform: scale(1);
	position: relative;
	bottom: 0px;
}
.plant-pillars-backgrounds {
	padding: 0px 0 0px;
}
.plant-pillars-section .plant-pillars-inner::before {
	background-image: url(/cdn/shop/files/q-capsul-left-img.webp?v=1754302231);
	width: 39px;
	height: 46px;
	bottom: 0px !important;
	left: 20px;
	background-size: 100%;
}

.quality_key_areas_section.mt-110 {
	margin-top: 0 !important;
} 

.plant-pillars-section .plant-pillars-inner::after {
	top: auto;
	bottom: 0px;
	background-repeat: no-repeat;
	width: 50px;
	height: 54px;
	right: 25px;
	background-size: 100%;
}
 
.plant-pillars-backgrounds::before {
	top: 0;
	left: 5%;
	width: 59px;
	height: 66px;
	background-size: 100%;
} 
.plant-pillars-backgrounds::after {
	width: 60px;
	height: 54px;
	right: 5%;
	top: 10px;
	background-size: 100%;
}
.list-marquee-bar {
	margin-top: 0px;
}
.list-marquee-bar .list-text {
	padding: 20px 15px;
	line-height: 100%;
}
.list-text > span {
	margin-right: 6%;
}

.what_we_offer_section.plant-pillars-section .plant-pillars-inner h2 {
	font-size: 32px;
	margin-bottom: 30px;
}
.what_we_offer_section.plant-pillars-section .plant-pillars-backgrounds {
	padding: 0 0 50px;
}
.what_we_offer_section.plant-pillars-section .pillars-button-wrap {
	margin-top: 0px;
}
.what_we_offer_section.plant-pillars-section .plant-pillars-backgrounds::before, .what_we_offer_section.plant-pillars-section .plant-pillars-backgrounds::after {
display: none;
}

.what_we_offer_section.plant-pillars-section .pillars-button-wrap .btn {
	display: inline-block;
}


  }

 @media screen and (max-width: 575px) {
.plant-pillars-section-wraper .plant-pillars-backgrounds .bg-img.left {
	position: absolute;
	left: -58px;
	bottom: -45px;
	max-width: 81%;
	transform: rotate(17deg);
}
.plant-pillars-section-wraper .plant-pillars-backgrounds .bg-img.right {
	position: absolute;
	right: -48px;
	bottom: -20px;
	max-width: 71%;
	transform: rotate(-4deg);
}
/* .plant-pillars-backgrounds .bg-img.center {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 45%;
} */
   
/* .plant-pillars-backgrounds {
	flex-direction: row;
	justify-content: center;
	gap: 20px;
	padding-top: 75%;
}  */
.pillars-feature {
	max-width: calc(100% - 0px);
}

 }

 @media screen and (max-width: 450px) {
  .plant-pillars-section .plant-pillars-inner h2 br {
	display: none;
}
 } 
  
{% endstylesheet %}

<div
  class="plant-pillars-section {{ section.settings.custom_class }}"
  id="{{ section.settings.custom_id }}"
  style="--bg-color: {{ section.settings.background_color }};"
>
    <div class="plant-pillars-inner">
    <h2 style="text-align: {{ section.settings.main_heading_alignment }};">
      {{ section.settings.main_heading }}
    </h2>

    <div class="pillars-features">
      {% for block in section.blocks %}
        <div class="pillars-feature">
          {% if block.settings.icon %}
           <span class="icon-holder"> <img
              src="{{ block.settings.icon | image_url: width: 64 }}"
              alt="{{ block.settings.icon_alt | escape }}"
            ></span>
          {% endif %}
          <h4>{{ block.settings.title }}</h4>
          <p>{{ block.settings.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  
  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
  <div class="pillars-button-wrap" style="text-align: {{ section.settings.main_heading_alignment }};">
    {% comment %} <a href="{{ section.settings.button_link }}" class="pillars-btn">
      {{ section.settings.button_label }}
    </a> {% endcomment %}
	<a href="{{ section.settings.button_link }}" class="btn gradient-theme slideshow__btn slideshow__btn{{block.id}} image_content_btn {%if section.settings.stylebtns == 'default' %} btn-theme {% elsif section.settings.stylebtns == 'underline' %}  btn-underline {% else %} btn-before {% endif %}">
                  {{ section.settings.button_label | escape }}
                </a>
  </div>
{% endif %}

  <div class="plant-pillars-backgrounds">
    {% if section.settings.background_image_left %}
      <img class="bg-img left" src="{{ section.settings.background_image_left | image_url: width: 600 }}" alt="">
    {% endif %}
    {% if section.settings.background_image_center %}
      <img class="bg-img center" src="{{ section.settings.background_image_center | image_url: width: 800 }}" alt="">
    {% endif %}
    {% if section.settings.background_image_right %}
      <img class="bg-img right" src="{{ section.settings.background_image_right | image_url: width: 600 }}" alt="">
    {% endif %}
  </div>


</section>
